body {
  font-family: "Roboto", sans-serif;
  background: #1e202b;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 25%;
}

.navbar-nav .nav-link {
  position: relative;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover::before {
  border-color: #138DD8;
}

.navbar-nav .nav-link:hover {
  color: #138DD8;
}

header {
  height: 100vh;
  background-image: url(./images/banner.png);
  background-repeat: no-repeat;
}

.find-location {
  position: relative;
}

#search {
  padding-right: 100px;
  border-radius: 25px;
}

#submit {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.btbg {
  background-color: #138DD8;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1E202B;
  color: #009AD8;
  text-decoration: none;
  transition: all 0.3s ease;
}

.icon-circle:hover {
  background-color: #009AD8;
  color: white;
}

.icon-circle i {
  font-size: 1.25rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}



.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.rounded-5 {
  border-radius: 5px;
}

.card-bg{
  background-color: #323544;
}

.card-h{
  height: 400px;
}

.temp{
  font-size: 1.25rem;
  font-weight: bolder;
}
.temp-large{
  font-size: 3.25rem;
}

 .first-card-bg {
        background-color: #323544;
    }